.container_carDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  .details {
    border: 1px solid black;
    height: 40vh;
    h2 {
      background-color: #e88432;
      text-align: center;
      padding: 8px;
    }
    p {
      margin: 0px 4px;
      padding: 10px 0;
      span {
        font-weight: 700;
      }
    }
  }
  button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #e88432;
    // box-shadow: 0 1px 6px 1px rgb(174, 123, 21);
    font-weight: 500;
    border: none;
  }
}
